.sectionsearch {
  margin: 0;
  padding: 0 0 0.5rem 0.5rem;
  background-color: rgb(31, 37, 61);
}

#searchtask {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 60%;
  margin: 0.5rem 0 0 0;
  color: rgb(169, 172, 186);
  background-color: rgb(31, 37, 61);
}

.sectionsearch input::placeholder {
  color: rgb(169, 172, 186);
}